body{
    font-family: 'Oldtown';
    padding-bottom: 5%;
}
p{
    line-height: 200%;
}
.container {
    position: relative;
    z-index: 1;
    margin-top: 3%;
}

.custom-img {
    margin-top: 2%;
    margin-bottom: 2%;
    width: 60%; /* 60% width on larger screens */
    height: auto; /* Maintain image proportion */
}


/* Custom CSS for underlining on hover */
.underline-on-hover {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.underline-on-hover::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%; /* Initially, the underline is 100% width */
    height: 2px; /* Adjust the height of the underline as needed */
    background-color: #7eff7eb4; /* Adjust the color of the underline as needed */
    transition: width 0.3s; /* Add a transition for a smooth animation */
}

.underline-on-hover:hover::before {
    width: 0; /* On hover, the underline animates to 0% width (disappears) */
}


/* Media query for mobile screens */
@media (max-width: 768px) {
    .custom-img {
        width: 90%; /* 90% width on mobile screens */
    }
}