
body{
    font-family: 'Oldtown';
    padding-bottom: 5%;
    background-color: #F8F6F4;
    color: black;
}
p{
    line-height: 200%;
    padding: 5px 5px 5px 10px;
}

p,ul,h1,h2{
    cursor: pointer;
}

h1,h2,h3{
    margin-top: 3%;
    margin-bottom: 2%;
}

.lead strong{
    text-decoration: dotted;
    font-weight: bold;
}

p:hover {
    background-color: rgba(255, 255, 255, 0.033); /* Semi-transparent white background */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;

    transition: background-color 0.3s, box-shadow 0.3s; /* Add a smooth transition */
  }
  
p a{
    text-decoration: none;
    color: #2caa2c;
}

.inverted p a{
    color: aqua;
}
.container {
    position: relative;
    z-index: 1;
    margin-top: 3%;
    padding-left: 7%;
    padding-right: 7%;
}

.custom-img {
    margin-top: 2%;
    margin-bottom: 2%;
    width: 60%; /* 60% width on larger screens */
    height: auto; /* Maintain image proportion */
}


/* Custom CSS for underlining on hover */
.underline-on-hover {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.underline-on-hover::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%; /* Initially, the underline is 100% width */
    height: 2px; /* Adjust the height of the underline as needed */
    background-color: #7eff7eb4; /* Adjust the color of the underline as needed */
    transition: width 0.3s; /* Add a transition for a smooth animation */
}

.underline-on-hover:hover::before {
    width: 0; /* On hover, the underline animates to 0% width (disappears) */
}

.highlight-gr{
    color: #5ece5e;
}

/* Red background for text */
.highlight-rd {
    color: rgb(255, 70, 70); /* You can adjust the text color to ensure visibility on the red background */
  }
  
 .highlight-bl{
    color: #2caa2c;
 } 

.inverted .highlight-bl, .inverted .highlight-gr{
    color: aqua;
}


.inverted .underline-on-hover::before{
    background-color: aqua;
}

  /* Red underline for text */
  .underline-rd {
    text-decoration: underline #5ece5e;
  }

  .inverted .underline-rd{
    text-decoration: underline aqua;
  }

  .underline-rd:hover{
    color: #5ece5e;
    text-decoration: none;
  }
  

.custom-dropdown-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 9999;
    border-radius: 10px;
    transition: 2s;
}

.custom-dropdown-menu a {
    cursor: pointer;
    display: block;
    padding: 12px 16px;
    text-decoration: none;
    color: #333;
}

.inverted {
    background-color: #1a2532;
    color: #DDE6ED;
    transition: 2s;
  }

.inverted .navbar .nav-item .nav-link{
    color: #DDE6ED;
}

.inverted p:hover{
    background-color: #243344; /* Semi-transparent white background */
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.087);
    border-radius: 10px;
    transition: background-color 0.3s, box-shadow 0.3s; /* Add a smooth transition */
}


::selection {
    color: #81fc81; 
    background: #1a2532; 
  }

.btn.btn-primary{
    background-color: #2caa2cc4;
}

.inverted .btn.btn-primary{
    background-color: rgb(0, 160, 160);
}

/* Media query for mobile screens */
@media (max-width: 768px) {
    .custom-img {
        width: 90%; /* 90% width on mobile screens */
    }
    .container{
        padding-left: 6%;
        padding-right: 6%;
    }

    div .lead{
        font-size: 1.2rem;
    }
}